.edit_form {
    max-width: 700px;
    width: 90%;
    margin: 20px;
    font-family: Arial, sans-serif;
    position: relative;
    margin: 100px auto;
    background-color: white;
    padding: 1.5rem;
    border-radius: 1rem;
  }
  
  .edit_form label {
    display: block;
    margin-bottom: 10px;
    color: #333;
  }

  .edit_form .names {
    display: flex;
    justify-content: space-between;
  }

  .edit_form .names label {
    width: 49%;
  }
  
  .edit_form .position {
    display: flex;
    flex-direction: column;
  }

  .edit_form .school_info {
    display: flex;
    justify-content: space-between;
  }

  .school_info-long {
    width: 38%;
  }

  .school_info-short {
    width: 20%;
  }

  .edit_form label input[type="text"],
  .edit_form label input[type="email"] {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 8px;
    height: 36px;
    color: black;
  }
  
  .edit_form label input[type="text"]:focus,
  .edit_form label input[type="email"]:focus {
    outline: none;
    border-color: #66afe9;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102,175,233,.6);
  }


  
  .edit_form button {
    padding: 10px 15px;
    margin-top: 20px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
    width: 90px;
  }

  .buttons {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    gap: 10px;
  }
  
  .edit_form button[type="submit"] {
    background-color: #056A92;
    color: white;
  }
  

  .edit_form .red {
    background-color: #f44336;
    color: white;
  }

  .edit_form .white {
    background-color: #fff;
    color: #575757;
    border: 1px solid #575757;
  }

  .edit_form .white:hover {
    text-decoration: underline;
    background-color: white;
    color: #575757;
  }

  .edit_form button:hover {
    background-color: #000;
    color: white;
  }
  

.school_info-short select {
    padding: 0.5rem;
    width: 100%;
    border: 1px solid #B6B6B6;
    border-radius: 8px;
    height: 36px;
    background-color: #fff;
    margin-top: 5px;
    color: black;
}
  