.content-wrapper {
    display: flex;
    flex-wrap: wrap;
    max-width: 930px;
    gap: 12px;
    margin: auto;
    justify-content: space-between;
}

.title{
    display: block;
    width: 100%;
}
