.scheme-card{
    background-color: #fff;
    padding: 12px;
    border-radius: 12px;
    width: 100%;
}

.scheme-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.scheme-title h1{
    margin-bottom: 8px;
}

.star-rating, .not-rated{
    font-size: 20px;
    padding: 10px;
    height: min-content;
    display: flex;
    flex-wrap: nowrap;
}

.not-rated{
    font-weight: bold;
}

.buttons{
    display: flex;
    gap: 12px;
    align-items: center;
    margin-top: 20px;
    justify-content: right;
}

.buttons button{
    padding: 10px 15px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
    background-color: #056A92;
    color: white;
}

.buttons button:hover{
    background-color: black;
}

.buttons button:disabled{
    background-color: #d3d3d3;
    cursor: not-allowed;
    color:#808080;
}

.rating-star:hover{
    scale: 1.3;
}

.rating-star.disabled{
    scale: 1;
}

.rating-star{
    transition: scale 0.12s;
}

.star-holder{
    display: flex;
    font-size: 20px;
}

.buttons .delete-button{
    background-color: #f44336;
    color: white;
    margin-right: auto;
  }