.app-container {
    margin: 0 auto;
    padding: 20px;
    max-width: 600px;
    text-align: center;
  }
  
  .app-title {
    color: #333;
    font-family: 'Arial', sans-serif;
  }
  
  .file-upload {
    margin: 20px 0;
  }
  
  .file-upload-button-container {
    height: 100px;
    display: grid;
    justify-items: center;
    align-items: center;
    gap: 40px; 
    grid-template-columns: 1fr 1fr;
  }
  
  .upload-status {
    margin-top: 8px; 
    font-size: 16px;
    color: #4CAF50; 
  
  }
  
  .cards-list {
    margin-top: 20px;
    padding: 10px;
    background-color: #f5f5f5;
    border-radius: 10px;
    height: 300px; /* Fixed height */
    overflow-y: auto; /* Enables vertical scrolling */
    box-shadow: 0 2px 4px rgba(0,0,0,0.1); /* Optional: adds shadow for depth */
  }
  
  .card-item {
    background-color: #fff;
    padding: 15px;
    margin-bottom: 10px;
    border-radius: 5px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.1);
  }
  
  .file-upload-button, .upload-button {
    font-size: 16px; 
    padding: 10px 20px; 
    border: 2px solid #4CAF50;
    background-color: #4CAF50;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    align-items: center; 
    justify-content: center; 
    text-decoration: none; 
    box-sizing: border-box;
    height: 50px; 
    width: 100px;
    line-height: 1.5; 
    white-space: nowrap; 
  }
  
  
  .file-upload-button:hover, .upload-button:hover {
    background-color: #45a049;
  }
  
  .file-input {
    display: none;
  }
  
  .file-input::-webkit-file-upload-button {
    background-color: #f2f2f2;
    color: black;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition-duration: 0.4s;
  }
  
  .file-input::-webkit-file-upload-button:hover {
    background-color: #ddd;
  }