.super-assessor-header {
    padding: 14px 0;
    background-color: white;
}

.super-assessor-header .logo {
    margin-right: 1rem;
    cursor: pointer;
}

.super-assessor-header nav {
    display: flex;
    font-size: 1.3rem;
}

.super-assessor-header nav a {
    margin-right: 1rem;
    text-decoration: none;
    color: black;
}

.super-assessor-header .nav-button {
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    cursor: pointer;
    transition: font-weight 100ms, color 100ms;
}

.super-assessor-header .nav-button:hover, .nav-button:focus {
    color: #0F5976;
    font-weight: bold;
}
.header-wrapper{
    max-width: 1200px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin: 0 auto;
}