ul li{
	margin-bottom: 12px;
	list-style: none;
}

.cardWrapper{
	display: flex;
	width: 100%;
    gap: 12px;
    margin-bottom: 32px;
}

/* Responsive adjustments */
@media (max-width: 768px) {
    .cardWrapper{
    	flex-direction: column;
    }
}