.favorite-cards-container li {
  list-style: none;
}

.uploadWrapper {
  display: flex;
  gap: 16px;
  width: 100%;
}

.app-title {
  color: #333;
  font-family: 'Arial', sans-serif;
}

.file-upload {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  border-radius: 10px;
}

.file-upload-button-container {
  display: flex;
  flex-wrap: wrap;
}

.upload-status {
  margin-top: 10px; 
  font-size: 16px;
  color: #4CAF50;
  text-align: center;
}

.cards-list {
  margin-top: 20px;
  padding: 10px;
  background-color: #f5f5f5;
  border-radius: 10px;
  height: 300px;
  overflow-y: auto;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);

}

.card-item {
  background-color: #fff;
  padding: 15px;
  margin-bottom: 10px;
  border-radius: 5px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.1);
}

.button {
  font-size: 16px;
  padding: 10px 15px;
  border: none;
  color: white;
  border-radius: 8px;
  cursor: pointer;
  text-decoration: none;
  box-sizing: border-box;
  line-height: 1.5;
  white-space: nowrap;
}

.upload-button, .generate-pdf-button {
  background-color: #056A92;
  width: 50%;
  text-align: center;
}
.upload-button i{
  margin-right: 6px;
}
.upload-button:hover, .generate-pdf-button:hover {
  background-color: #000;
}

.generate-pdf-button {
  align-self: center;
  width: 80%;
  max-width: 200px;
  margin-top: 20px;
}

.file-input {
  display: none;
}

/* Style the artificial file upload button */
.label-file-upload-button {
  display: block;
  background-color: #f2f2f2;
  color: black;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition-duration: 0.4s;
  margin-bottom: 5px; /* Add some space between label and input */
}

.label-file-upload-button:hover {
  background-color: #ddd;
}

/* Align delete input and button horizontally */
.delete-card-input-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  margin-bottom: 10px; /* Give some space below the input and button */
}

.delete-card-input-container input[type="text"] {
  flex-grow: 1;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.file-upload-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.delete-card-button {
  font-weight: 400;
  color: #fff;
  background-color: #D11F44;
}

.delete-card-button i{
  margin-right: 6px;
}

.delete-card-button:hover {
  color: #fff;
  background-color: #000;
}

.file-upload-button-container, .delete-card-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}
