<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Open+Sans">
    <link href="http://fonts.cdnfonts.com/css/montserrat" rel="stylesheet">
    <title>Oblig 1 | Web components | IDG2100</title>
    <link rel="stylesheet" href="./assets/core.css">
    <link rel="stylesheet" href="./assets/style.css">
</head>

<body>
    <header>
        <h1>the SUPER Assessor - Idea generator</h1>
        <p>
            SUPER Assessor, a game designed for educators, is the result of a research project undertaken by the Department of Design in Trondheim. Its primary objective is to aid educators in the development of unique assessment methods. These methods are intended to create innovative ways to evaluate and grade students.
        </p>
    </header>
    <main>
            <h2>Mission cards (x3)</h2>
            <!-- Replace based on your project -->
            <div class="card-container mission-cards" id="mission-list">
            </div>

            <h2>Assessment cards (x6)</h2>
            <!-- Replace based on your project -->
            <div class="card-container assessment-cards" id="assessment-list">
            </div>
    </main>

    <aside>
        <!-- Replace based on your project -->
        <h2>Favourite cards</h2>
        <ul id="favourite-cards-list">
        </ul>

        <h2>Control panel</h2>
        <p>Click the following button to extract random cards and display them in the main area.</p>
        <button type="button" onclick="randomizeCards()">Randomise</button>
    </aside>
    
    <footer>
        <!-- Replace based on your project -->
        Gabriel Marques 13.02.24
    </footer>
</body>
    <script type="text/javascript">
        var obj;
        var copiedObj;
        var favList = [];
        const cardOrder = ["Who is assessed", "The assessor", "Assessment artefact", "Assessment format", "Context", "Assessment timing"];
        const missionCount = 3;
        const assessmentCount = 6;

        //fetch the original json from the file
        fetch('./assets/cards-db/card-db.json')
            .then((response) => response.json())
            .then((json) => obj = json)
            //safely copy obj into a buffer without modifying the original and without requesting the file again
            .then((json) => copiedObj = JSON.parse(JSON.stringify(json)))
            .then((json) => { populateAssessments(assessmentCount); })
            .then((json) => { populateMissions(missionCount); });

        
        getLocalStorage();

        //checks localstorage and if there is none, creates one
        function getLocalStorage(){
            //check for localstorage and if there is one, make this.favList match it
            var x = localStorage.getItem("FAVOURITE_CARDS_LIST_STORE");
            if (localStorage.getItem("FAVOURITE_CARDS_LIST_STORE") !== null) {
                this.favList = JSON.parse(x);
            }

            //if there is not localstorage item, create an empty one based on favlist (which should be empty the first time around)
            else{
            const stringedList = JSON.stringify(favList);
            var x = localStorage.setItem("FAVOURITE_CARDS_LIST_STORE", stringedList);
            }
            reRenderFavourites();
        }

        //gets a random card from a predetermined list, in this case either from an array of missions or from an array of assessments
        function getRandomItem(list){
            if (list.length === 0) return null;
            var randomIndex = Math.floor(Math.random() * list.length);
            const object = list[randomIndex];
            // remove card
            list.splice(randomIndex, 1);
            //console.log(list);
            return object;
        }

        //creates each mission card as a custom component with randomly selected data from the database, then appends it to the document
        function populateMissions(count){
            const missionList = document.getElementById("mission-list");
            missionList.innerHTML = '';
            for (let i = 0; i < count; i++) {
                var missionItem;
                const missionObj = getRandomItem(copiedObj.missions);
                missionItem = document.createElement('super-mission-card');
                
                //sets each pair from the JSON as an attribute in the HTML
                var x;
                for (x in missionObj) {
                    missionItem.setAttribute(x, missionObj[x]);
                }

                //lastly, append to page
                missionList.appendChild(missionItem);
            }         
        }
        //creates each assessment card as a custom component with randomly selected data from the database, then appends it to the document
        function populateAssessments(count){
            //define what the assessments will be added to
            const selectedCards = {};
            const assessmentList = document.getElementById("assessment-list");
            assessmentList.innerHTML = "";

            //finds cards that match each category of card
            cardOrder.forEach(category => {
                //finds matching cards in the specific category
                const matchingCards = copiedObj.assessments.filter((card) => card['card-category'] == category);

                //gives random number for card within the ammount of cards in that category
                const randomIndex = Math.floor(Math.random() * matchingCards.length);
                selectedCards[category] = matchingCards[randomIndex];                
            });
            Object.values(selectedCards).forEach((element) => {
                var assessmentItem;
                assessmentItem = document.createElement('super-assessment-card');
                assessmentItem.id = 'card_'+element['card-id'];
                //sets each pair from the JSON as an attribute in the HTML
                var x;
                for (x in element) {
                    assessmentItem.setAttribute(x, element[x]);
                }

                //lastly, append to page
                assessmentList.appendChild(assessmentItem);
            });
    
        }

        //simple function to randomize which cards are shown on screen by calling the populate functions
        function randomizeCards(){
            copiedObj = JSON.parse(JSON.stringify(obj));
            populateAssessments(assessmentCount);
            populateMissions(missionCount);
        }

        //listens for cards being favourited
        document.addEventListener("favourited", (e) => {
            const combinedArray = [...obj.assessments, ...obj.missions];
            foundCard = combinedArray.find(item => item['card-id'] == e.detail.cardId);
            if(e.detail.isFav === true){addToFavouritesList(foundCard)}
            else if(e.detail.isFav === false){removeFromFavouritesList(foundCard)}
        });

        //adds a card to favourites list if its not already on there
        function addToFavouritesList(item){
            //checks if favlist contains the card we're trying to add, so as to not add duplicated
            if (!(favList.some(saved => saved['card-id'] === item["card-id"]))) {
                favList.push(item);
                const stringedList = JSON.stringify(favList);
                var x = localStorage.setItem("FAVOURITE_CARDS_LIST_STORE", stringedList);
            }
        reRenderFavourites();
        }

        //removes a card from favourites list if its already on there
        function removeFromFavouritesList(item){
            const found = favList.findIndex((element) => element["card-id"] === item["card-id"]);
            favList.splice(found, 1);
            const stringedList = JSON.stringify(favList);
            var x = localStorage.setItem("FAVOURITE_CARDS_LIST_STORE", stringedList);
            reRenderFavourites();
        }

        //re-renders the documents favourites list so that its always up to date with changes to the internal one
        function reRenderFavourites(){
            const favCardsList = document.getElementById("favourite-cards-list");

            favList = (JSON.parse(localStorage.getItem("FAVOURITE_CARDS_LIST_STORE")) ? JSON.parse(localStorage.getItem("FAVOURITE_CARDS_LIST_STORE")) : []);
            favCardsList.innerHTML = "";
            favList.forEach((element) => {
               var favListItem;
               listItem = document.createElement('li');
               /*listItem.innerHTML = `<h3 class="cardNumber">${element['card-id']} (${element['card-type']})</h3><b>${!element["card-category"] ? "Mission:" : element["card-category"]+":"}</b> ${element["card-name"]}<br> <b>What:</b> ${element["card-description"]}<br> ${!element["card-details"] ? "" : ("<b>How: </b>"+element["card-details"])}`;*/
               listItem.innerHTML = `<favourite-card  card-id="${element['card-id']}"></favourite-card>`;
               favCardsList.appendChild(listItem);
            });
        }

    </script>
    <script type="module" src="components/super-mission-card.js"></script>
    <script type="module" src="components/super-assessment-card.js"></script>
    <script type="module" src="components/favourite-card.js"></script>
</html>